<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="" />
	<title>2</title>
	<style>
		#main{
			float: left;
			width: 100%;
			min-height: 10em;
		}
		
		#main-inner{
			background-color: #ccc;
			width: 60%;
			margin: 0 auto;
			min-height: 10em;
		}
		
		#left-nav{
			float: left;
			width: 20%;
			min-height: 10em;
			margin-left: -100%;
			background-color: #cb0;
		}
		
		#right-nav{
			float: right;
			width: 20%;
			min-height: 10em;
			margin-left: -20%;
			background-color: #078;
		}
	</style>
</head>
<body>
	<!-- typical Bird Layout -->
	<div id="main">
		<div id="main-inner">main</div>
	</div>
	<div id="left-nav">left-nav</div>
	<div id="right-nav">right-nav</div>
	
</body>
</html>